
.add-shoe__size {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    
    .add-shoe__input {
        width: 28%;
        margin-right:10px ;
    }
  
}
.icon-plus {
    
    cursor: pointer;
    padding: 2px;
    margin-bottom: 10px;
}