.sizes-wrapper {
    display: flex;
    font-family: "Nunito", sans-serif;
    .sizes-container {
      flex: 6;
      .sizes-page {
        margin: 30px 20px;
        .sizes-page__with-search {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          .sizes-page__with-search__search {
            width: 26%;
            input {
              width: 80%;
              padding: 6px 10px;
              outline: none;
              border-radius: 8px;
              font-size: 16px;
              margin-right: 12px;
              color: #1c1c1c;
            }
            .sizes-page__with-search__search__icon {
              background-color: #6439ff;
              color: white;
              padding: 8px 18px;
              cursor: pointer;
              font-size: 16px;
              border-radius: 6px;
            }
          }
         
          .sizes-pages__with-search__create {
            .sizes-pages__with-search__create__btn {
              margin-right: 10px;
              background-color: #6439ff;
            }
            button {
              font-size: 14px;
              padding: 6px 12px;
            }
          }
        }
        .sizes-page__list {
          .sizes-page__list__pagination {
            margin: 40px 0;
          }
        }
      }
    }
}
